@model List<Pme.Models.PmeDetail>

@{
    ViewBag.Title = "Index";
}

<link href="~/Content/jquery.dataTables.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>

<br/>
<br/>

<table id="example" class="display dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info">
    <thead>
        <tr role="row">
            <th>PmeDetailId</th>
            <th>Clocking</th>
            <th>Cpu</th>
            <th>Maximum</th>
            <th>Minimum</th>
            <th>Threshold</th>
            <th>PmeId</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>PmeDetailId</th>
            <th>Clocking</th>
            <th>Cpu</th>
            <th>Maximum</th>
            <th>Minimum</th>
            <th>Threshold</th>
            <th>PmeId</th>
        </tr>
    </tfoot>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(i => item.PmeDetailId)</td>
                <td>@Html.DisplayFor(i => item.Clocking)</td>
                <td>@Html.DisplayFor(i => item.Cpu)</td>
                <td>@Html.DisplayFor(i => item.Maximum)</td>
                <td>@Html.DisplayFor(i => item.Minimum)</td>
                <td>@Html.DisplayFor(i => item.Threshold)</td>
                <td>@Html.DisplayFor(i => item.PmeId)</td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
$(document).ready(function() {
    $('#example').DataTable( {
        initComplete: function () {
            this.api().columns().every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );

                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );

                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            } );
        }
    } );
} );


</script>
